version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/Ecommerce-Products
    depends_on:
      - mongodb
    restart: always

  frontend:
    build:
      context: .
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
